.quiz__subtitle {
    font-family: 'Onest', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #383838;
    opacity: 0.7;
    margin: 0 0 81px;
    width: 400px;
}